#wpcontent {
    padding-left: 0;
}

#wpwrap {
    background: #fafafa;
}

.dx-help-page {
    font-size: 16px;
}

.dx-help-page h4 {
    font-size: 1.2em;
}

.dx-help-page h3 {
    margin-bottom: 0;
}

.dx-help-page p {
    margin-top: 0;
}

.dx-help-page img {
    max-width: 85%;
}

.dx-help-page .help-header {
    background-color: #7BC74D;
    color: white;
    padding: 10px 50px;
}

.dx-help-page .logo {
    margin: 0;
    display: inline-block;
    border-right: 1px solid #a6d987;
    margin-right: 40px;
    padding-right: 40px;
}

.dx-help-page .logo img {
    height: 60px;
}

.dx-help-page .page-info {
    display: inline-block;
    padding: 30px 0;
    margin-top: -5px;
}

.dx-help-page .page-title {
    text-transform: uppercase;
    margin: 0;
    font-size: 38px;
    color: white;
    line-height: 1;
    font-weight: 300;
    margin-bottom: 5px;
}

.dx-help-page .page-subtitle {
    margin: 0;
    line-height: 1;
    font-size: 26px;
}

.dx-help-page .panel-content, .dx-help-page .panel-sidebar {
    padding: 30px;
    box-shadow: 0 5px 8px -3px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.dx-help-page .section-primary {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #f9f9f9;
    padding: 45px;
}

.dx-help-page .panel-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.dx-help-page .panel-sidebar {
    min-width: 200px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 40px;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
    width: 100%;
    background: white;
}

table td {
    background: #f6f6f6;
    height: 50px;
    vertical-align: middle;
    width: 50%;
    padding: 20px;
}

table th {
    height: 50px;
    vertical-align: middle;
    width: 50%;
    padding: 20px;
}

@media (max-width: 960px) {
    .dx-help-page .section-primary {
        padding: 0;
    }

    .dx-help-page .panel-sidebar {
        margin-left: 0;
        border-left: 1px solid #f0f0f0;
    }
}

@media (max-width: 700px) {
    .dx-help-page .section-primary {
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }
}

.dx-help-page .help-heading {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 30px;
    padding-bottom: 40px;
    display: block;
}

.dx-help-page .help-title {
    font-size: 28px;
    margin: 0 0 20px 0;
    line-height: 1.3;
}

.dx-help-page .help-subtitle {
    color: #999;
    font-size: 20px;
    margin: 0;
}

.dx-help-page .featured-columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -10px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid #f0f0f0;
}

.dx-help-page .featured-columns .column {
    margin: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 33%;
}

@media (max-width: 1000px) {
    .dx-help-page .featured-columns {
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    .dx-help-page .featured-columns .column,
    .dx-help-page .featured-columns .inner {
        width: 100%;
    }
}

.dx-help-page .featured-columns .column-title {
    margin-top: 0;
}

.dx-help-page .featured-columns p {
    margin-bottom: 0;
}

.dx-help-page .featured-columns .inner {
    padding: 20px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
}

.dx-help-page .featured-columns .red, .dx-help-page .featured-columns .green, .dx-help-page .featured-columns .orange, .dx-help-page .featured-columns .blue {
    color: white;
    border: none;
}

.dx-help-page .featured-columns .red h1, .dx-help-page .featured-columns .green h1, .dx-help-page .featured-columns .orange h1, .dx-help-page .featured-columns .blue h1, .dx-help-page .featured-columns .red h2, .dx-help-page .featured-columns .green h2, .dx-help-page .featured-columns .orange h2, .dx-help-page .featured-columns .blue h2, .dx-help-page .featured-columns .red h3, .dx-help-page .featured-columns .green h3, .dx-help-page .featured-columns .orange h3, .dx-help-page .featured-columns .blue h3, .dx-help-page .featured-columns .red h4, .dx-help-page .featured-columns .green h4, .dx-help-page .featured-columns .orange h4, .dx-help-page .featured-columns .blue h4 {
    color: white;
}

.dx-help-page .featured-columns .red {
    background: #F36B6B;
}

.dx-help-page .featured-columns .green {
    background: #A9C52F;
}

.dx-help-page .featured-columns .orange {
    background: #FDAC61;
}

.dx-help-page .featured-columns .blue {
    background: #3490DE;
}

.dx-help-page .main-content h2 {
    font-size: 22px;
}

.dx-help-page .main-content h3 {
    font-size: 20px;
}

.dx-help-page .main-content p {
    font-size: 16px;
    line-height: 1.8;
}

.dx-help-page .plugins-list .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.dx-help-page .plugins-list .item:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.dx-help-page .plugins-list .item:focus {
    box-shadow: none;
    outline: none;
}

.dx-help-page .plugins-list .item img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    display: block;
}

.dx-help-page .plugins-list .item p {
    margin: 0;
    color: #999;
}

.dx-help-page .widget-heading {
    font-size: 16px;
    line-height: 1.1;
    margin-top: 0;
}

.alert-box {
    border-style: solid;
    border-width: 1px;
    display: block;
    font-weight: normal;
    margin-bottom: 1.25rem;
    position: relative;
    padding: 0.875rem 1.5rem 0.875rem 0.875rem;
    font-size: 0.8125rem;
    background-color: #008cba;
    border-color: #0078a0;
    color: white;
}

.alert-box a {
    color: #FFF;
}

.alert-box.warning {
    background-color: #e58080;
    border-color: #cd0808;
}

.alert-box.success {
    background-color: #43ac6a;
    border-color: #3a945b;
    color: white;
}